@font-face {
   font-family: 'vaground';
   font-display: swap;
   src: url('file:///Users/cesarleytoargandona/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-02-10_161627/fonts/vaground/font.ttf');
}
